/*
    Global Variables
*/
$blue: #3A8BC2;
$lightBlue: #4E98CA;
$grey: #A6A6A6;
$lightGrey: #E5E5E5;
$backgroundColor: whitesmoke;
$fontMont: 'Montserrat', sans-serif;
$fontKarla: 'Karla', sans-serif;
$minWidth: 830px;
$headerHeight: 100px;


/*
    Global Utility Functions
*/
@mixin centerContent($x, $y) {
    top: 50%;
    left: 50%;
    transform: translate($x, $y);
}

@mixin subHeading($padding) {
    font-family: $fontKarla;
    color: $grey;
    font-size: 18px;
    font-weight: 100;
    padding-left: $padding;
}

/*
    Global Class Property
*/
.container {
    padding: 0 25px;
    position: relative;
}

.title-name {
    font-family: $fontKarla;
    font-size: 64px;
    color: $blue;
    letter-spacing: 5px;
    padding: 10px 0 25px 0;
    margin: 0 auto;
}

.sub-title {
    font-family: $fontKarla;
    font-size: 36px;
    color: $grey;
    letter-spacing: 5px;
    padding: 10px 0 25px 20px;
    margin: 0 auto;
}

.selectable {
    position: relative;
    margin: 0 auto;
    @extend %body-font;
    text-align: center;
    cursor: pointer;

    span {
        position: absolute;
        @include centerContent(-50%, -50%);
    }

    &:hover {
        background-color: $blue;
    }
}

/*
    Global Group Property
*/
%container-size {
    max-width: 1200px;
    margin: 0 auto;
}

%header-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $blue;
}

%body-font {
    font-family: $fontKarla;
    font-size: 18px;
    font-weight: 100;
}