@import 'utils';

.create-event-header-container {
    width: 100vw;
    height: $headerHeight;
    @extend %container-size;
    position: relative;

    .submit-button,
    .cancel-button {
        @extend %header-circle;

        h2 {
            margin: 0 auto;
            position: absolute;
            @include centerContent(-50%, -50%);
        }
    }


    .submit-button {
        position: absolute;
        right: 25px;
        top: 0;
    }
    
    .cancel-button {
        position: relative;
        float: left;
        left: 25px;
        top: 0;
    }
}