@import 'utils';

.create-event-header-container {
    width: 100vw;
    height: 100px;
    @extend %container-size;
    position: relative;

    .submit-button,
    .delete-button {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $blue;
        margin: 0 auto;

        h2 {
            margin: 0 auto;
            position: absolute;
            @include centerContent(-50%, -50%);
        }
    }


    .submit-button {
        position: absolute;
        right: 25px;
        top: 0;
    }
    
    .delete-button {
        position: relative;
        float: left;
        left: 25px;
        top: 0;
    }
}

.title-name {
    font-family: $fontKarla;
    font-size: 64px;
    color: $blue;
    letter-spacing: 5px;
    padding: 10px 10px 10px 25px;
    margin: 0 auto;
}