@import 'utils';

.edit-event-header-container {
    width: 100vw;
    height: $headerHeight;
    @extend %container-size;

    .submit-button,
    .back-button,
    .delete-button {
        @extend %header-circle;

        h2 {
            margin: 0 auto;
            position: absolute;
            @include centerContent(-50%, -50%);
        }
    }


    .delete-button {
        position: absolute;
        right: 25px;
    }
    
    .submit-button {
        position: absolute;
        right: 125px;
    }
    
    .back-button {
        position: relative;
        float: left;
        left: 25px;
        top: 0;
    }
}

.edit-event-body-container {
    position: relative;

    // .input {
    //     width: 100%;
    //     height: 50px;
    //     padding: 10px;
    //     box-sizing: border-box;
    //     border: none;
    //     background-color: $lightGrey;
    //     border-radius: 10px;
    //     @extend %body-font
    // }

    .heading {
        margin: 0;
        @include subHeading(0);
        padding-bottom: 10px;
    }

    .edit-event-main-info-container,
    .edit-event-guest-container {
        position: relative;
        display: grid;
        padding-bottom: 25px;
    }

    .edit-event-main-info-container {
        grid-template-columns: 350px auto;
        grid-gap: 25px;

        // .input {
        //     width: 100%;
        //     height: 50px;
        //     padding: 10px;
        //     box-sizing: border-box;
        //     border: none;
        //     background-color: $lightGrey;
        //     border-radius: 10px;
        //     @extend %body-font
        // }

        .name-container,
        .address-container,
        .date-container,
        .time-container {
            position: relative;
        }

        .name-container,
        .address-container {
            grid-column: span 2;
        }
    }

    .edit-event-guest-container {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(3, auto);
        grid-gap: 25px;
        @extend %body-font;
    }

    .add-item-input-container {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 25px;

        > * {
            margin: 5px;
        }

        .input#add-items {
            width: 30%;
        }

        .add-item-button {
            height: 50px;
            width: 100px;
            background-color: $blue;
            border: none;
            border-radius: 10px;
            @extend %body-font;
            color: white;
        }
    }

    .edit-event-items-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: auto;
        @extend %body-font;
        padding-bottom: 50px;
    }

    .submit-button-large,
    .cancel-button-large {
        position: relative;
        width: 90%;
        margin: 0 auto;
        @extend %body-font;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 15px;

        h2 {
            margin: 0;
            text-align: center;
            position: absolute;
            @include centerContent(-50%, -50%);
        }
    }

    .submit-button-large {
        height: 80px;
        background-color: $blue;
    }

    .cancel-button-large {
        height: 60px;
        background-color: $grey;
    }
}