@import 'utils';

.event-card-container {
    width: 90%;
    // min-width: 750px;
    height: 215px;
    background-color: $blue;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    color: white;
    font-family: $fontKarla;
    transition: height 0.2s;
    
    > * {
        display: inline-block;
        vertical-align: top;
    }

    .date-container {
        position: relative;
        height: 100%;
        width: 200px;
        background-color: $lightBlue;
        border-radius: 10px 0 0 10px;

        > * {
            margin: 0;
            position: absolute;
            letter-spacing: 5px;
        }

        .date {
            @include centerContent(-50%, -110%);
            font-size: 64px;
        }

        .month {
            @include centerContent(-50%, -30%);
            font-size: 48px;
        }

        .day-year {
            @include centerContent(-50%, 200%);
            font-size: 20px;
            width: 200px;
            text-align: center;
            font-weight: 100;
            letter-spacing: 0;
            font-family: $fontMont;
        }
    }

    .date-container-small {
        position: relative;
        height: 100%;
        width: 200px;
        background-color: $lightBlue;
        border-radius: 10px 0 0 10px;

        .date-small{
            font-size: 28px;
            margin: 0;
            position: absolute;
            width: 100%;
            text-align: center;
            @include centerContent(-50%, -50%);

            span {
                font-family: $fontMont;
                font-weight: 100;
            }
        }
    }

    .event-info-container {
        position: relative;
        height: 100%;
        width: calc(100% - 200px);
        border-radius: 0 10px 10px 0;

        > * {
            position: absolute;
            margin: 0 auto;
        }

        .event-name {
            font-size: 64px;
            top: 15px;
            left: 25px;
        }

        .event-location,
        .event-time,
        .see-more-button {
            font-size: 20px;
            width: 200px;
            font-weight: 100;
            left: 30px;
            width: 500px;
            font-family: $fontMont;
        }

        .event-location {
            top: 100px;
        }

        .event-time {
            top: 135px;
        }

        .see-more-button {
            top: 170px;
            
            a {
                text-decoration: none;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .logo {
            padding-right: 5px;
        }

        .event-card-action-button-container {
            position: absolute;
            right: 0;
            top: 15px;

            > * {
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $lightBlue;
                // left: -65px;
                border-style: none;
                cursor: pointer;
                transition: all 0.2s;
            }

            .expand-button {        
                top: 0px;
                left: -65px;
            }

            .edit-button {
                top: 65px;
                left: -65px;
            }

            .delete-button {
                top: 130px;
                left: -65px;
            }
        }
    }

}

.shrink {
    height: 105px;
}

.move-expand-button {
    top: 10px;
    left: -65px;
}

.move-edit-button {
    top: 10px;
    left: -125px;
}