@import 'utils'; 

.home-header-container {
    width: 100vw;
    height: $headerHeight;
    min-width: $minWidth;
    @extend %container-size;
    position: relative;

    .logo {
        font-family: $fontMont;
        font-size: 64px;
        letter-spacing: 5px;
        padding: 10px 10px 10px 10px;
        margin: 0;

        a {
            text-decoration: none;
            color: $blue;
        }

    }

    .add-button {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $blue;
        right: 25px;
        top: 0;
    
        h2 {
            position: absolute;
            margin: 0 auto;
            @include centerContent(-50%, -50%);
        }
    }
}