@import 'utils'; 

.header-container {
    width: 100vw;
    height: 100px;
    background-color: $backgroundColor;
    @extend %container-size;
    position: relative;

    .logo {
        font-family: 'Montserrat', sans-serif;
        font-size: 64px;
        letter-spacing: 5px;
        padding: 10px;

        a {
            text-decoration: none;
            color: $blue;
        }

    }
}