@import 'utils';

.item-container {
    height: 45px;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    padding: 0;
    flex: auto;
    overflow: hidden;

    > *::before {
        display: inline-block;
    }

    .item-name {
        @extend %body-font;
        position: relative;
        float: left;
        height: 100%;
        padding: 0 10px;
        padding-top: 10px;
        color: white;
        
    }

    .block {
        position: relative;
        width: 35px;
        height: 100%;
        float: right;
    }

    .block:first-of-type {
        border-radius: 0 5px 5px 0;
    }
}