@import 'utils';

.view-event-header-container {
    width: 100vw;
    height: $headerHeight;
    @extend %container-size;

    .edit-button,
    .back-button,
    .delete-button {
        @extend %header-circle;

        h2 {
            margin: 0 auto;
            position: absolute;
            @include centerContent(-50%, -50%);
        }
    }


    .delete-button {
        position: absolute;
        right: 25px;
    }
    
    .edit-button {
        position: absolute;
        right: 125px;
    }
    
    .back-button {
        position: relative;
        float: left;
        left: 25px;
        top: 0;
    }
}

.view-event-body-container {

    position: relative;

    h6 {
        margin: 0;
    }

    .heading {
        @include subHeading(0);
        padding-bottom: 10px;

        span {
            padding-right: 5px;
        }
    }

    .datetime-location-container {
        display: grid;
        grid-template-columns: 500px auto;
        grid-template-rows: 75px 100px;
        grid-gap: 10px;
        padding-bottom: 25px;

        .mainInformation {
            padding-left: 10px;
            @extend %body-font;
        }

        .datetime {
            grid-column: 1;
            grid-row: 1;
        }

        .location {
            grid-column: 1;
            grid-row: 2;
        }

        .map {
            grid-column: 2;
            grid-row: 1 / span 2;
            background-color: $blue;
            border-radius: 10px;
        }
    }

    .sort-container {
        position: relative;
        background-color: grey;
        width: 250px;
        height: 75px;
        left: 5%;
        margin: 10px 0;

    }

    .items-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: auto;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    .attendees-container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 10px;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    .reassign-items-button {
        position: relative;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        
        a {
            text-decoration: none;
            
            &:hover {
                cursor: pointer;
            }
        }
        
        button {
            position: relative;
            color: white;
            width: 100%;
            height: 85px;
            font-family: $fontMont;
            font-size: 25px;
            border-radius: 10px;
            background-color: $blue;
        }

    }

}